@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);

* {
  font-family: "IBM Plex Sans Thai", sans-serif;
  transition: all 0.3s;
}

body {
  background: #2e2f2f;
  color: whitesmoke;
}

h1 {
  text-align: center;
}

.form-controller {
  min-width: 18rem;
  max-width: 22rem;

  background: whitesmoke;
  color: #2e2f2f;
  padding: 1rem;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.form-controller input,
.form-controller select {
  font-size: 18px;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid #2e2f2f;
  margin-bottom: 0.5rem;
}

.form-controller input:focus,
.form-controller select:focus {
  border: 2px solid #fe6e6f;
  outline: 0;
}

.form-controller label {
  font-size: 18px;
  margin-top: 0.5rem;
}

.form-controller div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: .5rem;
}

.form-controller button {
  width: 50%;
  padding: 1rem 1.5rem;
  font-size: 18px;
  border-radius: 1rem;
  border: 0;
}

.form-controller button:hover {
  width: 100%;
  opacity: 0.6;
  cursor: pointer;
  flex-grow: 1;
}

.form-controller button[type="reset"] {
  background: #fe0000;
  color: whitesmoke;
}

.form-controller button[type="submit"] {
  background: #007bff;
  color: whitesmoke;
}

#footer {
  margin-top: 2rem;

  width: 100%;
  background: whitesmoke;
  color: #2e2f2f;
  text-align: center;

  padding: 1rem 0;
}

#footer a {
  color: #2e2f2f;
}

#footer a:hover {
  opacity: .6;
  text-decoration: none;
}