#body {
  width: 100%;
  min-height: 100dvh !important;
}

#body {
  #header {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .hero {
    width: 100%;
    min-height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 300px !important;
    }

    p {
      width: 60%;
      text-align: center;
    }

    div {
      display: flex;
      gap: 1rem;
    }

    .button {
      padding: .5rem 1rem;
      border-radius: .25rem;
      text-decoration: none;
    }

    .button:hover {
      transform: scale(.95);
      opacity: .8;
    }

    .course {
      background: #007bff;
      color: whitesmoke;
    }

    .register {
      background: transparent;
      color: grey;
      border: 1px solid grey;
    }

    .image-holder {
      width: 100% !important;
      margin: 1.5rem 0;
      justify-content: center;

      img {
        width: 45% !important;
        border-radius: .5rem;
      }
    }

    .card-container {
      width: 100% !important;
      margin-bottom: 2rem;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;
      
      .card {
        min-width: 18rem;
        width: 30%;
        height: 100% !important;
        background: whitesmoke;
        border-radius: 1rem;
        
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

        display: flex;
        flex-direction: column;
        gap: 0;

        .img-header {
          width: 100%;
          aspect-ratio: 4/3;

          background-position: center !important;
          background-size: cover !important;
          background-repeat: no-repeat !important;

          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        .card-body {
          display: flex;
          flex-direction: column;
          gap: .1rem;
          padding: 1rem;

          * {
            margin: .2rem;
            text-align: left;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    p {
      width: 90%;
    }
  }
}