.nav-holder {
  width: 100%;
  background: whitesmoke;
}

#nav {
  width: 90%;
  margin: 0 auto;

  display: flex;
  
  a {
    padding: 1rem 1.5rem;
    color: #2e2f2f;
    text-decoration: none;
  }

  a:hover {
    opacity: .6;
    background: rgba(0, 0, 0, 0.2);
  }

  a.active {
    opacity: .6;
    background: rgba(0, 0, 0, 0.2);
  }

  a.logo {
    color: #007bff;
  }
}